---

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files:
      - "{{ ansible_facts['distribution'] }}_{{ ansible_facts['architecture'] }}.yaml"
      - "{{ ansible_facts['distribution'] }}.yaml"
      - "{{ ansible_facts['os_family'] }}_{{ ansible_facts['architecture'] }}.yaml"
      - "{{ ansible_facts['os_family'] }}.yaml"
      - main.yaml
      paths:
      - vars

- name: Install git and dependencies
  vars:
    _git_package_names: "{{ git_package_names }}"
  block:
  - name: Add merge tool
    ansible.builtin.set_fact:
      _git_package_names: "{{ _git_package_names + [git_package_name_merge_tool] }}"
    when: git_install_merge_tool is defined and
          git_install_merge_tool
  - name: Install git and dependencies
    ansible.builtin.package:
      name: "{{ item }}"
      state: present
    with_items: "{{ _git_package_names }}"

- name: Configure git
  ansible.builtin.include_tasks: git_user.yaml
  with_dict:
  - "{{ git_users }}"
