# [<optional state> #issueid] <type>: <summary>

# Addition description
# - item
# - item
# - item

# optional states:
#   Close #issueid
#   Draft #issueid
#   WIP #issueid

# types:
#   feat     (new feature)
#   fix      (bug fix)
#   refactor (refactoring production code)
#   style    (formatting, missing semicolons, etc; no code change)
#   docs     (changes to documentation)
#   test     (adding or refactoring tests; no production code change)
#   core     (updating grunt tasks etc; no production code change)

# Examples:
# [Close #1] fix: cleanup build folder              # Smart-commit for github, gilab, gitea, gogs
# [HATE-1337 /fixed] fix: cleanup build folder      # Smart-commit for jira
# style: ident to 2 blanks
# feat: read from apache kafka channel